.loginScreen__logo{
    position: fixed;
    left: 0;
    top: 20px;
    width: 150px;
    object-fit: contain;
    padding-left: 20px;
}
.loginScreen{
    position: relative;
    height: 100%;
    background: url("https://preview.redd.it/how-can-someone-make-this-background-with-html-and-css-i-v0-zjgs096khv591.jpg?auto=webp&s=9659527da9196c27a8875200b41d20a8e901c341") center no-repeat;
    background-size: cover;
}
.loginScreen__body > h1{
    font-size: 3.125rem;
    margin-bottom: 20px;
}
.loginScreen__body > h2{
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 30px;
}
.loginScreen__body > h3{
    font-size: 1.3rem;
    font-weight: 400;
}
.loginScreen__body{
    position: absolute;
    top: 30%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    z-index: 1;
    color: white;
    padding: 20px;
    left: 0;
    right: 0;
}
.loginScreen__gradient{
    width: 100%;
    height: 110vh;
    z-index: 1;
    background: rgba(0,0,0,0.4);
    background-image: linear-gradient(
        to top,
        rgba(0,0,0,0.8) 0,
        rgba(0,0,0,0) 60%,
        rgba(0,0,0,0.8) 100%
    );
}
.loginScreen__button{
    position: fixed;
    right:20px;
    top:20px;
    padding: 10px 20px;
    font-size: 1rem;
    color: white;
    background-color: #e50914;
    font-weight: 600;
    border: none;
    cursor: pointer;
}
.loginScreen__input > form > input{
    padding: 10px;
    outline-width: 0;
    width: 30%;
    height: 30px;
    border: none;
    max-width: 600px;
}
.loginScreen__getstarted{
    padding: 16px 20px;
    color: #fff;
    background-color: #e50914;
    font-size: 1rem;
    border: none;
    font-weight: 600;
    cursor: pointer;
    margin-top: 1px;
    padding-bottom: 18px;
}
.loginScreen__input{
    margin:20px;
}