.nav{
    position: fixed;
    top: 0;
    height: 30px;
    padding: 10px;
    width: 100%;   
    z-index: 1;
    
    /* animations */
    transition-timing-function: ease-in;
    transition:all 1s;
}
.nav__black{
    background-color:black;
}
.nav__contents{
    display: flex;
    justify-content: space-between;
}
.nav__logo{
    position: fixed;
    top: 13px;
    left: 0;
    width: 80px;
    object-fit: contain;
    cursor: pointer;
    padding-left: 30px;
}
.nav__avatar{
    position: fixed;
    right: 20px;
    width: 30px;
    cursor: pointer;
}